a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link;
		text-decoration: underline;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.main-navigation {

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li:hover > ul {
			left: auto;
		}
		a {
			font-weight: bold;
			font-size: 1.3rem;
			font-family: $font__heading;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		text-decoration: underline;
	}
}
.site-footer ul {
	list-style: none;
}

/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
