/* General */
.border-lt {
	border: 1px dotted #CCCCCC;
}
h1 a,
h1 a:visited,
h1 a:active {
	color: #404040;
}
ol, ul {
	padding-left: 1em;
}

.entry-header {
	position: relative;
}

#page {
	background: $color__background-page;
	@include box-shadow( 0, 5px, 20px, rgba( 50,50,50,.75) );
}
.post-edit-link {
	text-indent: -9999px;
	background-image: url('img/sprite.png');
	@include sprite-bg(5);
	width: $pad;
	height: $pad;
	position: absolute;
	bottom: $pad;
	right: $pad;
}


/* Header */
#masthead {
	position: relative;
	padding-top: 5px;
}
#site-branding {
	position: relative;
	z-index: 1;
	display: inline-block;
	
	h1 {
		display: none; 
	}
	img {
		width: 85%;
		margin-left: 10px;
	} 
}

#site-navigation {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	width: 100%;
}
.menu-social-container li,
.menu-primary-container li {
	float: left;
}
.menu-social-container {
	background: #FFFFFF;
	width: 100%;
	overflow: auto; 
	padding: 20px;
	
	li {
		margin-left: 20px;
		
		a {
			text-indent: -9999px;
			display: block;
			background-image: url('img/sprite.png');
			background-repeat: no-repeat;
			width: 30px;
			height: 30px;
		}
	}
	li.icon-twitter a {
		@include sprite-bg(0, true);
	}
	li.icon-github a {
		@include sprite-bg(2, true);
	}
	li.icon-linkedin a {
		@include sprite-bg(3, true);
	}
	li.icon-facebook a {
		@include sprite-bg(1, true);
	} 
}
.main-navigation ul {
	float: right;
	clear: both;
	overflow: auto;
}

.menu-primary-container {
	margin-top: 30px;
	overflow: auto;
	padding: 0 20px 0 0;
}
#menu-primary li {
	margin-left: 15px;
}
#menu-primary li::before {
	content: '|';
	padding-right: 15px;
}
#menu-primary li:first-child::before {
	content: '';
}

#content{
	ul, ol {
		margin: -1em 0 1em 2em;
		
		ul, ol {
			margin-top: .5em;
			margin-bottom: .5em;
			list-style-type: "- ";
		}
	}
	li {
		margin-bottom: .5em;
	}
}

/* Home */
.home{
	section [class*="col-"] {
		padding-top: $pad;
	}
	.entry-header {
		display: none;
	}
	article {
		padding: 12px;
		&:hover {
			background-color: #F1F1F1;
		}
	}
	h3 {
		margin-bottom: 5px;
	}
	#content ul {
		font-size: 1rem;
		padding: 0 0 0 1rem;  
		list-style: none;
	}
	#content li {
		position: relative;
		line-height: 1.5rem;
		margin-bottom: 24px;
	}
	#content li h3:before {
		position: absolute;
		content: "";
		border-color: transparent #000000;  
		border-style: solid;  
		border-width: 0.35em 0 0.35em 0.45em;  
		display: block;  
		height: 0;  
		width: 0;  
		left: -1rem;  
		top: 0.375rem;  
	}
	#content img {
		border: 1px solid #666666;
		width: 100%;
	}
}
#latest-blogs .featured {
	padding-right: 2rem;
}

#latest-activity h3 {
	margin-bottom: 12px;
}
#latest-events {
	padding-right: 2rem;
	li {
		margin-bottom: 12px;
	}
}
#latest-tweets .rt {
	background-image: url('img/sprite.png');
	@include sprite-bg(4);
	text-indent: -9999px;
	display: inline-block;
	width: 18px;
	height: 14px;
	vertical-align: middle;
}

h1,
.home h2 {
	background-color: $color__heading;
	margin: 0 0 0 -20px;
	padding: 5px 0 5px 20px;
	color: #404040;
	@include box-shadow(0px, 5px, 5px, rgba(50, 50, 50, 0.5));
	
	a:hover {
		color: #404040;
	}
}


/* Blog */
.blog #primary article {
	position: relative;
}
.is-portfolio {
	position: absolute;
	left: -25px;
	transform: rotate(-35deg);
	top: 0;
	background-color: $color__link;
	padding: 0px 8px;
	font-size: 0.8em;
	color: #FFFFFF;
}
.is-portfolio::before {
	content: "";
	display: block;
	left: -6px;
	top: 0px;
	position: absolute;
	background-position: -10px -312.5px;
	background-image: url("img/sprite.png");
	width: 1em;
	height: 1.5em;
}
.is-portfolio::after {
	content: "";
	background-image: url("img/sprite.png");
	background-position: -10px -363px;
	display: block;
	right: -11px;
	top: 0px;
	position: absolute;
	width: 1em;
	height: 1.5em;
}
.entry-meta {
	margin-top: 40px;
	background: none;
	padding-top: 12px;
	border-top: 1px solid #FFFFFF;
	
	> div {
		margin-bottom: 5px;
	}
	date {
		font-weight: bold;
	}
	span {
		@include border-radius(3px);
		padding: 0px 8px 2px 8px;
		display: inline-block;
		margin-left: 10px;
		text-transform: lowercase;
		font-size: 0.8em;
		font-family: $font__heading;
		
		a {
			color: #FFFFFF;
		}
	}
	.categories span {
		background-color: #422714;
	}
	.tags span {
		background-color: #726D4B;
	}
}

/* Map */
#map-container { 
	position: relative;
}
#map {
	height: 100%;
	width: 100%;
}
#tooltip {
	position: absolute;
	border: 2px double #666666;
	background: white;
	padding: 5px 10px;
}

.page-template-page-events tr.active {
	border: 1px solid #0066FF;
}


/* Embeds */
.insta {
	overflow: hidden;
	margin: 0 0 $pad $pad;
	float: right;
}
.insta [class*="col-"]:last-of-type {
	padding-right: $pad;
}

/* Single Portfolio */
.portfolio-meta img {
	cursor: pointer;
}
.hidden-gallery {
	display: none;
}

/* Footer */ 
footer {
	background-color: #FFFFFF;
	overflow: hidden;
}
.searchform {
	padding: 21px 23px;
}
.searchform input {
	width: 65%;
	padding: 3px 12px;
}
.searchform .submit {
	padding: 0.35em 1em;
	font-size: 1.1em;
	vertical-align: top;
}
footer .menu-social-container {
	@include no-box-shadow;
	padding: 20px 0;
}
footer .menu-social-container ul {
	float: right; 
}

.site-info {
	background-color: $color__background-page;
	text-align: center;
	padding: 6px 0;
	clear: both;
}

/* Plugins */

.collapseomatic {
	position: relative;
	cursor: pointer;
	font-family: $font__heading;
	background-position: 75px 2px;
	padding: 0 20px 0 5px;
	font-size: 0.8em;
	font-weight: bold;
	border: 1px solid #A0A0A0;
	color: #333333;
	@include border-radius(3px);
	background-color: #F1F1F1;
	margin-left: 5px;
	
	&:after {
		content: "+";
		font-weight: normal;
		font-size: 1.3rem;
		padding: 0 5px;
		position: absolute;
		top: -1px;
		right: -2px;
		line-height: .9;
	}
}
.colomat-close::after {
	content: "-";
	top: -3px;
	right: 0;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom: $pad;
}
 
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.tweetlist {
	margin: 10px 0 20px 0;


	.tweet {
		border-bottom: 1px dotted #AAAAAA;
		padding: 20px 0;
		overflow: auto;
	}

	.rt {
		background: url("/tweetnest/styles/streamlined/retweet.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
		padding: 0 0 0 23px;
	}
	.pic {
		float: left;
		margin-right: 20px;
		max-height: 85px;
	}
	.pic img {
		margin: 0;
		width: 85px;
	}
}
.tweetlist.single {
	border-top: 1px dotted #AAAAAA;
}
.tweetlist .tweet .via, .tweetlist .tweet.retweet .meta br , .tweetlist .tweet .rted{
	display: none;
}
.tweetlist.tweet:last-child {
	border-bottom: 0 none;
}
.tweetlist p {
	padding-left: 105px;
	margin-bottom: 0;
}
.tweetlist p:empty {
	display: none;
}


.postGal {
	margin: 30px 0;
	background-image: url("img/stripes.png");
	position: relative;
	.content {
		position: relative;
	}
	.close {
		cursor: pointer;
		color: #F1F1F1;
		padding: 7.5px 10px;
		position: absolute;
		right: 0;
		z-index: 1000;
		top: 0;
	}
	.close.bottom {
		top: auto;
		bottom: 0;
	}
}

.imgwall li {
	list-style-type: none;
	
	img {
		cursor: pointer;
	}
}

#content {
	.rslides {
		position: relative;
		list-style: none;
		overflow: hidden;
		width: 100%;
		padding: 40px 0;
		margin: 0;
		
		li {
			-webkit-backface-visibility: hidden;
			position: absolute;
			display: none;
			width: 100%;
			left: 0;
			top: 0;
		}
		li:first-child {
			position: relative;
			display: block;
			float: left;
		}
		img {
			display: block;
			height: auto;
			float: left;
			width: 100%;
			border: 0;
		}
	}
	.rslides_tabs {
		text-align: center;
		margin: 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 999;
		
		li {
			display: inline-block;
			border: 3px solid #FFFFFF;
			background-color: #666666;
			@include border-radius(20px);
			height: 20px;
			width: 20px;
			margin: 0 5px 0 5px;
			
			a {
				display: block;
				text-indent: -9999px;
				overflow: hidden;
				outline: 0;
			}
		}
		
		.rslides_here {
			background-color: #FFFFFF;
		}
	}
	.rslides_nav, .rslides_nav:visited, .rslides_nav:active, .rslides_nav:focus {
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 10;
		text-indent: -9999px;
		overflow: hidden;
		width: 50px;
		outline: 0;
	}
	.rslides_nav:hover {
		outline: 0;
		background-color:rgba(0,0,0,0.3);
	}
	.rslides_nav.next {
		right: 0;
	}
}


