/* General */
.border-lt {
	border: 1px dotted #CCCCCC;
}
ol, ul {
	padding-left: 1em;
}

#page {
	background: $color__background-page;
}
.post-edit-link {
	text-indent: -9999px;
	background-image: url('img/sprite.png');
	@include sprite-bg(5);
	width: $pad;
	height: $pad;
	position: absolute;
	top: $pad;
	right: $pad;
	
}


/* Header */
#masthead {
	position: relative;
	padding-top: 5px;
}
#site-branding {
	position: relative;
	z-index: 1;
	display: inline-block;
}
#site-branding h1 {
	display: none; 
}
#site-branding img {
	width: auto;
	margin-left: 10px;
	background: url(img/logo_bg.png); 
}

#site-navigation {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	width: 100%;
}
.menu-social-container li,
.menu-primary-container li {
	float: left;
}
.menu-social-container {
	background: #FFFFFF;
	width: 100%;
	overflow: auto; 
	padding: 20px;
	@include box-shadow( 0, 5px, 20px, rgba( 50,50,50,.75) );
}
.main-navigation ul {
	float: right;
	clear: both;
	overflow: auto;
}
.menu-social-container li {
	margin-left: 20px;
}
.menu-social-container li a {
	text-indent: -9999px;
	display: block;
	background-image: url('img/sprite.png');
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
}
.menu-social-container li.icon-twitter a {
	@include sprite-bg(0, true);
}
.menu-social-container li.icon-github a {
	@include sprite-bg(2, true);
}
.menu-social-container li.icon-linkedin a {
	@include sprite-bg(3, true);
}
.menu-social-container li.icon-facebook a {
	@include sprite-bg(1, true);
} 

.menu-primary-container {
	margin-top: 30px;
	overflow: auto;
	padding: 0 20px 0 0;
}
#menu-primary li {
	margin-left: 15px;
}
#menu-primary li::before {
	content: '|';
	padding-right: 15px;
}
#menu-primary li:first-child::before {
	content: '';
}


/* Home */
.home .entry-header {
	display: none;
}
.home section [class*="col-"] {
	padding-top: 24px;
}
#page {
	@include box-shadow( 0, 5px, 20px, rgba( 50,50,50,.75) );
}
.home #content section article {
	padding: 12px;
	&:hover {
		background-color: #F1F1F1;
	}
}
#latest-activity h3 {
	margin-bottom: 12px;
}
.home #content ul {
	font-size: 1rem;
	margin: 0.75rem 0;  
	padding: 0 0 0 1rem;  
	list-style: none;
} 
.home #content li {
	line-height: 1.5rem;
}
.home #content li:before {
	content: "";
	border-color: transparent #000000;  
	border-style: solid;  
	border-width: 0.35em 0 0.35em 0.45em;  
	display: block;  
	height: 0;  
	width: 0;  
	left: -1rem;  
	top: 1rem;  
	position: relative;  
} 
#latest-events {
	padding-right: 6rem;
}
#content #latest-events li {
	margin-bottom: 12px;
}

h1,
.home .grid-pad h2 {
	background-color: $color__heading;
	margin: 0 -20px 0 -20px;
	padding: 5px 0 5px 20px;
	color: #404040;
	@include box-shadow(0px, 5px, 5px, rgba(50, 50, 50, 0.5));
}
h1 a,
h1 a:visited,
h1 a:active {
	color: #404040;
}
.home h3 {
	margin-bottom: 5px;
}
.home #content li {
	margin-bottom: 24px;
}
.home #content img {
	border: 1px solid #666666;
}
.home #latest-tweets .rt {
	background-image: url('img/sprite.png');
	@include sprite-bg(4);
	text-indent: -9999px;
	display: inline-block;
	width: 18px;
	height: 14px;
	vertical-align: middle;
}

/* Blog */
.blog #primary article {
	position: relative;
}
.is-portfolio {
	position: absolute;
	left: -25px;
	transform: rotate(-35deg);
	top: 0;
	background-color: $color__link;
	padding: 0px 8px;
	font-size: 0.8em;
	color: #FFFFFF;
}
.is-portfolio::before {
	content: "";
	display: block;
	left: -6px;
	top: 0px;
	position: absolute;
	background-position: -10px -312.5px;
	background-image: url("img/sprite.png");
	width: 1em;
	height: 1.5em;
}
.is-portfolio::after {
	content: "";
	background-image: url("img/sprite.png");
	background-position: -10px -363px;
	display: block;
	right: -11px;
	top: 0px;
	position: absolute;
	width: 1em;
	height: 1.5em;
}
.entry-meta {
	margin-top: 12px;
}
.entry-meta span {
	@include border-radius(3px);
	padding: 0px 8px 2px 8px;
	display: inline-block;
	margin-right: 5px;
	text-transform: lowercase;
	font-size: 0.8em;
}
.entry-meta span a {
	color: #FFFFFF;
}
.entry-meta .categories span {
	background-color: #726D4B;
}
.entry-meta .tags span {
	background-color: #422714;
}

/* Map */
#map-container { 
	position: relative;
}
#map {
	height: 100%;
	width: 100%;
}
#tooltip {
	position: absolute;
	border: 2px double #666666;
	background: white;
	padding: 5px 10px;
}

.page-template-page-events tr.active {
	border: 1px solid #0066FF;
}


/* Embeds */
.insta {
	overflow: hidden;
	margin: 0 (-$pad) $pad 0;
}
.insta [class*="col-"]:last-of-type {
	padding-right: $pad;
}

/* Single Portfolio */
.portfolio-meta img {
	cursor: pointer;
}
.hidden-gallery {
	display: none;
}

/* Footer */ 
footer {
	background-color: #FFFFFF;
	overflow: hidden;
}
.searchform {
	padding: 21px 23px;
}
.searchform input {
	width: 65%;
	padding: 3px 12px;
}
.searchform .submit {
	padding: 0.35em 1em;
	font-size: 1.1em;
	vertical-align: top;
}
footer .menu-social-container {
	@include no-box-shadow;
	padding: 20px 0;
}
footer .menu-social-container ul {
	float: right; 
}

.site-info {
	background-color: $color__background-page;
	text-align: center;
	padding: 6px 0;
	clear: both;
}