#map-container {
	position: relative;
}
#map {
	height: 100%;
	width: 100%;
}
#tooltip {
	position: absolute;
	border: 2px double #666666;
	background: white;
	padding: 5px 10px;
}
body {
	color: #FF0000 !important; 
}

.page-template-page-events tr.active {
	border: 1px solid #0066FF;
}