/* * * * * * * * * * * * * * * * * * * *
 * Menu
 * * * * * * * * * * * * * * * * * * * */
#adminmenu #menu-posts-place,
#adminmenu #menu-dashboard,
#adminmenu #menu-settings {
	margin-bottom: 20px;
}

@media all and (min-width: 783px) {
	#adminmenu > li.wp-has-current-submenu.wp-menu-open .wp-submenu {
		display: none;
	}
}

/* * * * * * * * * * * * * * * * * * * *
 * Dashboard
 * * * * * * * * * * * * * * * * * * * */
#dashboard-widgets .linkview {
	font-size: 18px;
	line-height: 13px;
	color: #666666;
}
#dashboard_widget_all_pages ul ul {
	margin: 0 0 0 10px;
}
#dashboard_widget_all_pages ul li,
#dashboard_widget_recently_updated ul li {
	margin: 0;
}
#dashboard_widget_all_pages ul li a,
#dashboard_widget_recently_updated ul li a {
	display: inline-block;
	margin: 3px 5px;
}
#dashboard_widget_all_pages ul li.count-even,
#dashboard_widget_recently_updated ul li:nth-child(even) {
	background-color: #F7F7F7;
}
#dashboard_widget_all_pages ul li.count-odd {
	background-color: #FFFFFF;
}

/* * * * * * * * * * * * * * * * * * * *
 * Dashboard Icons
 * * * * * * * * * * * * * * * * * * * */

 #menu-posts-event .dashicons-admin-post:before {
	 content: "\f508";
 }
 #menu-posts-place .dashicons-admin-post:before {
	 content: "\f230";
 }
 #menu-posts-book .dashicons-admin-post:before {
	 content: "\f331";
 }


/* * * * * * * * * * * * * * * * * * * *
 * Post Type: Post
 * * * * * * * * * * * * * * * * * * * */
.cfs_input .field.field-_is_gallery,
.cfs_input .field.field-_is_portfolio {
	border: 0 none;
}
.cfs_input .field.field-_is_gallery label,
.cfs_input .field.field-_is_portfolio label {
	display: inline;
	padding: 0 0 0 5px;
}
.cfs_input .field-_is_gallery .cfs_true_false,
.cfs_input .field-_is_portfolio .cfs_true_false {
	display: inline;
	float: left;
}
.cfs_input .field.field-_is_portfolio {
	padding-bottom: 0;
}
 
 
.cfs_input .field.field-_gallery_repeat .cfs_loop .loop_wrapper {
	display: inline-block;
	vertical-align: top;
}
.cfs_input .field.field-_gallery_repeat .cfs_file {
	text-align: center;
}
.cfs_input .field.field-_gallery_repeat .cfs_file .file_url {
	display: block;
	margin-bottom: 12px;
}
.cfs_input .field.field-_gallery_repeat .cfs_file .file_url img {
	max-width: 100%;
}

/* * * * * * * * * * * * * * * * * * * *
 * Post Type: Event
 * * * * * * * * * * * * * * * * * * * */
.post-type-event .cfs_input .field-start,
.post-type-event .cfs_input .field-end,
.post-type-event .cfs_input .field-type,
.post-type-event .cfs_input .field-remote,
.post-type-event .cfs_input .field-affiliation,
.post-type-event .cfs_input .field-link,
.post-type-event .cfs_input .field-blog_link {
	display: inline-block;
	border-bottom: 0 none;
	width: 19.3%;
}
.post-type-event .cfs_input .field-affiliation,
.post-type-event .cfs_input .field-link,
.post-type-event .cfs_input .field-blog-link {
	width: 30%;
	margin: 20px 0 5px 0;
}
.post-type-event .cfs_input .field-affiliation::before {
	border-top: 1px solid #EEEEEE;
    content: "";
    display: block;
    left: 0;
    margin-top: -15px;
    overflow: auto;
    position: absolute;
    width: 100%;
}

/* * * * * * * * * * * * * * * * * * * *
 * Post Type: Place
 * * * * * * * * * * * * * * * * * * * */
.post-type-place .cfs_input .field-latitude,
.post-type-place .cfs_input .field-longitude {
	display: inline-block;
	width: 45%;
}

.post-type-place .cfs_input .field-type,
.post-type-place .cfs_input .field-count {
	display: inline-block;
	border-bottom: 0 none;
	width: 45%;
}

/* * * * * * * * * * * * * * * * * * * *
 * Post Type: Book
 * * * * * * * * * * * * * * * * * * * */
.post-type-book .cfs_input .field-author,
.post-type-book .cfs_input .field-completed,
.post-type-book .cfs_input .field-type {
	display: inline-block;
	border-bottom: 0 none;
}
.post-type-book .cfs_input .field-author {
	width: 50%;
}

/* * * * * * * * * * * * * * * * * * * *
 * Custom Fields: Extra
 * * * * * * * * * * * * * * * * * * * */
.field-extra_content {
	counter-reset: extra -1;
}
.field-extra_content .loop_wrapper .cfs_loop_head .label::before {
	counter-increment: extra;
	content: counter(extra) ": ";
}
.field-extra_content .cfs_loop .cfs_loop_body > label:first-of-type {
	display: none;
}

.field-extra_content .cfs_loop .cfs_loop_body .cfs_true_false {
	float: left;
	padding: 0 5px 0 0;
}
.field-extra_content .cfs_loop .cfs_loop_body label:nth-of-type(2){
	padding: 1px 0 5px 0;
}