/* * * * * * * * * * * * * * * * * * * *
 * Editor (TinyMCE)
 * * * * * * * * * * * * * * * * * * * */
.half-captions {
    overflow: auto;
    margin-bottom: 30px;
}
.half-captions .mceTemp,
.half-captions img {
	border: 1px solid #666666;
	margin: 0px;
	width: 48% !important;
	float: left;
}
.half-captions .mceTemp:first-child,
.half-captions img {
	margin-right: 3%;
} 